.btn--nav {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
  border-radius: 50%
}

.dropdown-toggle::after {
  display: none;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .nav-goal {
    display: none;
  }

  #main {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
  }

  #upcoming,
  #ongoing,
  #completed {
    flex: 0 0 calc(100% / 3);
  }

  .container-goal {
    height: 85%;
    overflow-y: scroll;
  }

  #upcoming {
    order: 1;
  }

  #ongoing {
    order: 2;
  }

  #completed {
    order: 3;
  }
}

@media (min-width: 1200px) {

}
