body {
  background: rgba(240, 236, 236, 0.5);
}

button i {
  font-size: 14px;
}

.container-home {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/nliangxin/image/upload/c_scale,w_1038/v1539606574/home_wi9ric.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero-image {
  width: 100%;
  height: 100%;
}

.container-goal::-webkit-scrollbar {
  width: .2rem;
}

.container-goal::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206);
}

.progress {
  height: 5px;
}

.main {
  max-width: 1100px;
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
  padding: 60px 0;
}

.detail {
  padding-top: 70px;
}

.card-img-top {
  height: 150px;
  object-fit: contain;
}

.btn-add-nav {
  display: none;
}

.btn-add-round {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
  border-radius: 50%
}

.dropdown-toggle::after {
  display: none;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .btn-add-round {
    display: none;
  }

  .btn-add-nav {
    display: inline-block;
  }

  .nav-goal {
    display: none;
  }

  .main {
    display: flex;
    padding-bottom: 0;
  }

  #upcoming,
  #ongoing,
  #completed {
    flex: 0 0 calc(100% / 3);
  }

  .container-goal {
    max-height: 90%;
    overflow-y: scroll;
  }

  #upcoming {
    order: 1;
  }

  #ongoing {
    order: 2;
  }

  #completed {
    order: 3;
  }
}

@media (min-width: 1200px) {
}
